{% extends  "base.html" %} {% block title %}Про нас{% endblock %}

{% block content %}
<form method="POST">
<div class="container">
    <section class="main-content">
        <h2>Про нас</h2>
        <p>
            Ласкаво просимо до нашого магазину меблів! Ми пропонуємо широкий вибір високоякісних меблів для вашого дому.
        </p>
        <p>
            Наша місія - надавати клієнтам тільки найкращі меблі з урахуванням сучасних тенденцій та ваших унікальних потреб.
        </p>
        <p>
            Запрошуємо вас відвідати наш магазин і знайти ідеальні меблі для вашого простору.
        </p>
    </section>
    </div>
</form>
{% endblock %}

{% block extra_css %}
    <!-- Підключення вашого CSS файлу -->
    <link rel="stylesheet" type="text/css" href="/website/static/about_us.css">
{% endblock %}